body {
    font-family: Cairo, Georgia, sans-serif;
    font-size: 22px;
    background-image: url("full-bloom.png");
}

#name {
    font-family: Lobster, 'segeo script', cursive;
    font-size: 40px;
    color: #8f2e3e;
}

.bg-light {
    background-color: #7f84b9 !important;
}

.navbar {
    justify-content: center;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@media only screen and (max-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        justify-content: center!important;
    }
}
