body {
    font-family: Cairo, Georgia, sans-serif;
    font-size: 22px;
    background-image: url("full-bloom.png");
}

#name {
    font-family: Lobster, 'segeo script', cursive;
    font-size: 40px;
    color: 	#515778;
}

.bg-light {
    background-color:	#d5eeec !important;
    border-bottom-style: ridge;
    border-bottom-color: #92b7bf;
    border-bottom-width: 5px;
}

.navbar {
    justify-content: center;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.container {
    background-color: #92b7bf;
    padding: 25px;
    border-color: #8590a7;
    border-style: double;
    border-width: 5px;
    margin-bottom: 50px;
}

.pagetitle {
    font-family: Lobster, 'segeo script', cursive;    
    color: #515778;
}

img {
    border-color: #8590a7;
    border-style: ridge;
    border-width: 5px;
}

.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #8590a7;
    border-top-style: solid;
    border-top-color: #d5eeec;
    border-top-width: 5px;
}

.btn-link {
    color: #515778;
    background-color: #d5eeec;
    position: relative;
    bottom: 60px;
    font-family: Lobster, 'segeo script', cursive;
}

.btn-primary {
    background-color: #515778;
    border-color: #515778;
    color: #d5eeec;
}

@media only screen and (max-width: 992px) {

    .navbar-expand-lg .navbar-collapse {
        justify-content: center!important;
    }
}
